<header class="header-area header-sticky wow slideInDown main-wrapper color-teal">
    <div class="container">
        <div class="row">
            <div class="col">
                <nav class="main-nav"><a aria-current="page" class="px-4 logo active" href="/"><%= image_tag("logo-furrfinder-2.png", alt: "Illustration of a dog and cat") %><span class="fs-1 fw-bold">Furr Finder</span></a>
                    <ul class="nav">
                        <li class="scroll-to-section nav-item"><a aria-current="page" class="px-4 active" href="/">Home</a></li>
                        <li class="scroll-to-section nav-item"><a class="px-4" href="/aboutus">About Us</a></li>
                        <li class="scroll-to-section nav-item"><a href="/users/sign_up" class="">Sign Up</a></li>
                        <li class="scroll-to-section nav-item"><a href="/users/sign_in" class="">Sign In</a></li>
                    </ul><a class="menu-trigger"><span>Menu</span></a>
                </nav>
            </div>
        </div>
    </div>
</header>

<div class="row">
    <div class="col">
        <section class="registration-form sign-in-bg">
            <div class="container h-100 pt-5 pb-5">
                <div class="row d-flex justify-content-center align-items-center h-100 row">
                    <div class="col-lg-12 col-xl-11 col">
                        <div class="card text-white">
                            <div class="card-body p-md-5">
                                <div class="row justify-content-center row">
                                    <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1 col">
                                        <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>
                                        <%= form_for(resource,class: 'form mx-1 mx-md-4', as: resource_name, url: registration_path(resource_name)) do |f| %>
                                            <%= render "devise/shared/error_messages", resource: resource %>

                                            <div class="d-flex flex-row align-items-center mb-4">
                                                <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                                <div class="field form-outline flex-fill mb-0">
                                                    <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", id: "form3Example1c", class: "form-control form-control" %>
                                                    <%= f.label :first_name, for: "form3Example1c", class: "form-label form-label" %>
                                                </div>
                                            </div>

                                            <div class="d-flex flex-row align-items-center mb-4">
                                                <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                                <div class="field form-outline flex-fill mb-0">
                                                    <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", id: "form3Example1c", class: "form-control form-control" %>
                                                    <%= f.label :last_name, for: "form3Example1c", class: "form-label form-label" %>
                                                </div>
                                            </div>

                                            <div class="d-flex flex-row align-items-center mb-4">
                                                <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                                <div class="field form-outline flex-fill mb-0">
                                                    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control", id: "form3Example3c" %>
                                                    <%= f.label :your_email, class: "form-label form-label", for: "form3Example3c" %>
                                                </div>
                                            </div>

                                            <div class="d-flex flex-row align-items-center mb-4">
                                                <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                                <div class="field form-outline flex-fill mb-0">
                                                    <%= f.password_field :password, autocomplete: "new-password", id: "form3Example4c", class: "form-control form-control" %>
                                                    <%= f.label :password, for: "form3Example4c", class: "form-label form-label" %>
                                                    <% if @minimum_password_length %>
                                                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                                                    <% end %>
                                                </div>
                                            </div>

                                            <div class="d-flex flex-row align-items-center mb-4">
                                                <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                                <div class="field form-outline flex-fill mb-0">
                                                    <%= f.password_field :password_confirmation, autocomplete: "new-password", id: "form3Example4cd", class: "form-control form-control" %>
                                                    <%= f.label :repeat_your_password, for: "form3Example4cd", class: "form-label form-label" %>
                                                </div>
                                            </div>

                                            <div class="form-check d-flex justify-content-center mb-5">
                                                <input id="form2Example3c" type="checkbox" class="form-check-input me-2 form-check-input" value="">
                                                <label for="form2Example3" class="form-check-label form-label">I agree all statements in <a href="#!">Terms of service</a>
                                                </label>
                                            </div>

                                            <div class="actions d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                                <%= f.submit "Register", class: "btn btn-primary btn-lg btn btn-secondary" %>
                                            </div>

                                            <% end %>
                                            <%= render "devise/shared/links" %>
                                    </div>
                                    <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                                        <%= image_tag("black-cat.png", class: "blackcat", alt: "Black cat illustration") %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<footer class="footer mt-auto py-3 bg-light">
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container-fluid"><span class="px-4 navbar-text">©2021 Furr Finder</span><a aria-current="page" class="px-4 active" href="/">Home</a>
            <ul class="me-auto navbar-nav"><a class="px-4" href="/aboutUs">About Us</a><a class="px-4" href="/privacy">Privacy</a><a class="px-4" href="/terms">Terms of Service</a></ul>
        </div>
    </nav>
</footer>